/*  David Alvarez ---> 604160919*/

body {
  margin: 0px;
  padding: 0px;
}

.background {
  background-image: url("../assets/login_bg.jpg");
  background-size: cover;
  align-content: center;
}

.frmLogin {
  height: 50%;
  width: 30%;
  position: absolute;
  left: 35%;
  top: 25%;
  border: 5px solid #0c17b88c;
  border-radius: 25px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 0, 0.5),
    rgba(255, 166, 0, 0.5),
    rgba(255, 0, 0, 0.5)
  );
  align-items: center;
}

.contenido {
    text-align: center;
    color: rgb(18, 18, 19);
    text-decoration: beige;
  }